name: ci

on:
  push:
    branches: [ master, main ]
    tags: [ '[1-9]+.[0-9]+.[0-9]+*' ]
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:
  repository_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

jobs:
  sdk:
    name: Test SDK
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Xcode 12.4
        run: sudo xcode-select -switch /Applications/Xcode_12.4.app

      - name: "Cache dependencies"
        uses: actions/cache@v2
        with:
          path: Carthage/build
          key: ${{ runner.os }}-carthage-v2-${{ hashFiles('**/Cartfile.resolved') }}
          restore-keys: |
            ${{ runner.os }}-carthage-v2

      - run: brew upgrade carthage

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler-cache: true

      - run: |
          bundle exec fastlane ci
          cp .lint/cocoapods-size/result.json cocoapods-size-result.json

      - if: github.event_name == 'push'
        uses: actions/cache@v3
        with:
          path: cocoapods-size-result.json
          key: cocoapods-size-${{ github.sha }}

  size-report:
    name: Cocoapods size report
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: cocoapods-size-result.json
          key: cocoapods-size-${{ github.sha }}
          restore-keys: cocoapods-size-

      - if: hashFiles('cocoapods-size-result.json') == ''
        uses: sergeysova/jq-action@v2
        with:
          cmd: |
            jq -n '{combined_pods_extra_size: 0}' > cocoapods-size-result.json

      - uses: sergeysova/jq-action@v2
        id: main_size
        with:
          cmd: jq '.combined_pods_extra_size // 0' cocoapods-size-result.json -r

      - run: sudo xcode-select -switch /Applications/Xcode_12.4.app

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler-cache: true

      - run: bundle exec fastlane pod_size

      - uses: sergeysova/jq-action@v2
        id: pr_size
        with:
          cmd: jq '.combined_pods_extra_size' .lint/cocoapods-size/result.json -r

      - id: diff_size
        run: echo "::set-output name=value::$((${{ steps.pr_size.outputs.value }} - ${{ steps.main_size.outputs.value }}))"

      - uses: peter-evans/find-comment@v1
        id: find_comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: Cocoapods size report

      - uses: peter-evans/create-or-update-comment@v1
        with:
          body: |
            Cocoapods size report:
            ```
            OLD: ${{ steps.main_size.outputs.value }} bytes
            NEW: ${{ steps.pr_size.outputs.value }} bytes

            DIFF: ${{ steps.diff_size.outputs.value }} bytes
            ```
          edit-mode: replace
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          token: ${{ secrets.GITHUB_TOKEN }}

  samples:
    name: Build Samples
    needs: sdk
    runs-on: macos-11
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        xcode: [ '12.4' ]
        experimental: [ false ]
        include:
          - xcode: '13.2.1'
            experimental: true
    steps:
      - uses: actions/checkout@v2

      - name: Use Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler-cache: true

      - run: bundle exec pod install
        working-directory: Example

      - run: bundle exec fastlane ios samples_build

  release:
    name: Relase
    if: startsWith(github.ref, 'refs/tags')
    needs: samples
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler-cache: true

      - name: Release
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          bundle exec fastlane release